apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-chbpsgmc
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-chbpsgmc:6bfcce99111a9855c1a89f365c744cbe179b17a6@sha256:e2cef01d3181fa17bfbc2e5b1c19f188344d09439a5ead720e641eb96387bbad
          name: container-image
